body {
	margin: 0;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* The big 3 +1 */
#header {
	position: fixed;
	width: 100vw;
	background-color: #46d;
	color: #fff;
	top: 0;
	height: 55px;
	box-shadow: 0 0 10px #46d;
}
#alert {
	z-index: 9;
	position: fixed;
	width: 90vw;
	width: calc(100vw - 30px);
	background-color: #d55;
	top: 0;
	color: #fff;
	height: 55px;
}
#content {
	position: fixed;
	width: 100vw;
	top: 55px;
	bottom: 30px;
	overflow: auto;
}
#footer {
	position: fixed;
	width: 100vw;
	background-color: #46d;
	bottom: 0;
	height: 30px;
	box-shadow: 0 0 10px #68f;
}
/* Animation helpers */
/* Animations */
/* Changing default behavior */
#footer > a {
	text-decoration: none;
	color: #fff;
}
#footer > a:visited {
	color: #fff;
}
/* Helpers Class */
.flex {
	display: flex;
	justify-content: space-around;
}
.singleText1 {
	font-size: 28px;
	line-height: 55px;
}
.singleText1 > span {
	padding-left: 10px;
}
.singleText2 {
	font-size: 20px;
	line-height: 27px;
	padding: 0 15px 0 15px;
	text-align: center;
}
.singleText3 {
	font-size: 18px;
	line-height: 30px;
}
.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hidden {
	display: none;
}