body {
	padding-top: 70px;
}
label {
	font-weight: bold;
}
ul {
	text-align: left;
}
#alert {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99999999;
}
.hidden {
	display: none;
}
.preview {
	width: auto;
	max-height: 50vh;
	max-width: 80%;
}